<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的订单</title>
    <link rel="stylesheet" href="../libs/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/oneorder.css">
</head>

<body>
    <header>
        <div class="funcModule">
            <div class="bainian"><img src="../images/bainian2.png"></div>
            <div class="container">
                <div class="funcLeft">
                    <a href="../../register_login.html">欢迎光临，<span class="userNamePhone">去登录</span></a>
                    <span class="logout"></span>
                    <a href="../../login_register.html">免费注册</a>
                </div>
                <div class="funcRigth">
                    <ul>
                        <li></li>
                        <li><a href="../../index.html">书店首页</a></li>
                        <li>|</li>
                        <li><a href="../../buyCar.html"><span class="glyphicon glyphicon-shopping-cart"></span>购物车<span
                                    class="ordercarnum">0</span></a></li>
                        <li>|</li>
                        <li><a href="../../myorder.html">我的订单</a></li>
                        <li>|</li>
                        <li><a href="javascript:;">个人中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="searchBook">
            <div class="container">
                <div class="logo"><a href="../../index.html"><img src="../images/logo.png"></a></div>

                <form class="form-inline" id="searchForm">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputsearch" placeholder="">
                            <button type="button" class="glyphicon glyphicon-search" id="inputsearchbtn"></button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="nav nav-pills headernav">
                <li role="presentation"><a href="../../index.html">主页</a></li>
                <li role="presentation"><a href="../../commonbooks.html">书库</a></li>
                <li role="presentation"><a href="../../activeBooks.html">畅销书籍</a></li>
                <li role="presentation"><a href="../../newBooks.html">新书</a></li>
            </ul>
        </div>
    </header>

    <div class="body container">
        <div class="buyAll">我的订单</div>
        <div class="buyList">
            <div class="text"><span>详细信息</span><span>总价</span><span>总数</span><span>下单人/手机号</span><span>收货地址/收货人</span></div>
            <div class="list">
                <!-- 图书列表 --> 
                <div class="one">
                    <div class="bodyLeft">
                        <div class="orderContent">
                            <h2>订单编号:<span class="orderid"></span></h2>
                            <h4>下单时间:<span class="inordertime"></span></h4>
                            <h4>下单用户:<span class="inorderuser"></span></h4>
                        </div>
                    </div>
                    <div class="bodyRigth">
                        <div>￥ <span class="allprise"></span></div>
                        <div class="allnum"></div>
                        <div class="gouserAndPhone">
                            <div>下单用户:<span class="inorderuser"></span></div>
                            <div>手机号:<span class="userphone"></span></div>
                        </div>
                        <div class="toplaceAndtouser">
                            <input type="text" placeholder="收件地址" class="toplace">
                            <input type="text" placeholder="收件人" class="touser">
                        </div>
                    </div>
                </div>
            </div>
            <div><button class="pay">支付</button></div>
        </div>
    </div>

    <script src="../libs/jquery.min.js"></script>
    <script src="../js/verification_session_onebook.js"></script>
    <script src="../utils/util_template.js"></script>
    <script src="../js/oneorder.js"></script>
</body>

</html>