* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: 400;
}
i {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: #444444;
}
body,
html {
  background-color: #e2e2e2;
}
.funcModule {
  height: 30px;
  line-height: 30px;
  position: relative;
}
.funcModule .bainian {
  position: absolute;
  right: 10px;
  top: 200px;
}
.funcModule .bainian img {
  width: 150px;
}
.funcModule .container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}
.funcModule .container .funcLeft {
  width: 50%;
}
.funcModule .container .funcLeft a:first-child {
  color: #888888;
}
.funcModule .container .funcLeft a:first-child:hover {
  color: #1493af;
}
.funcModule .container .funcLeft a:last-child {
  color: #1493af;
}
.funcModule .container .funcLeft a {
  font-size: 12px;
  float: left;
  margin-right: 30px;
}
.funcModule .container .funcRigth {
  width: 50%;
}
.funcModule .container .funcRigth ul {
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
}
.funcModule .container .funcRigth ul li {
  color: #888888;
}
.funcModule .container .funcRigth ul li a {
  color: #888888;
}
.funcModule .container .funcRigth ul li a:hover {
  color: #1493af;
}
.funcModule .container .funcRigth ul li:nth-child(4) span {
  color: #1493af;
  margin: 0 2px;
}
.searchBook {
  height: 140px;
  background-color: #fff;
  position: relative;
}
.searchBook .container .logo {
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
}
.searchBook .container form {
  position: absolute;
  left: 46%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.searchBook .container form .input-group {
  position: relative;
}
.searchBook .container form #inputsearch {
  width: 400px;
  height: 50px;
  border: 5px solid #1493af;
}
.searchBook .container form .glyphicon-search {
  position: absolute;
  width: 80px;
  height: 50px;
  right: -75px;
  top: 0px;
  border: 0px;
  background-color: #1493af;
}
.searchBook .headernav {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.searchBook .headernav a {
  background-color: #fff !important;
  color: #999 !important;
  width: 140px !important;
  text-align: center;
}
.searchBook .headernav a:hover {
  color: #1493af !important;
}
.searchBook .headernav li:hover {
  background-color: #1493af !important;
}
.searchBook .headernav .active {
  background-color: #1493af !important;
}
@media screen and (max-width: 1400px) {
  html,
  body {
    width: 100%;
  }
  .bainian {
    display: none;
  }
}
@media screen and (max-width: 1240px) {
  #searchForm {
    display: none;
  }
  .navRight {
    width: 100%;
  }
  .headernav {
    display: none;
  }
}
