.funcModule {
  height: 30px;
  line-height: 30px;
  position: relative;
}
.funcModule .bainian {
  position: absolute;
  right: 10px;
  top: 200px;
}
.funcModule .bainian img {
  width: 150px;
}
.funcModule .container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}
.funcModule .container .funcLeft {
  width: 50%;
}
.funcModule .container .funcLeft a:first-child {
  color: #888888;
}
.funcModule .container .funcLeft a:first-child:hover {
  color: #1493af;
}
.funcModule .container .funcLeft a:last-child {
  color: #1493af;
}
.funcModule .container .funcLeft a {
  font-size: 12px;
  float: left;
  margin-right: 30px;
}
.funcModule .container .funcRigth {
  width: 50%;
}
.funcModule .container .funcRigth ul {
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
}
.funcModule .container .funcRigth ul li {
  color: #888888;
}
.funcModule .container .funcRigth ul li a {
  color: #888888;
}
.funcModule .container .funcRigth ul li a:hover {
  color: #1493af;
}
.funcModule .container .funcRigth ul li:nth-child(4) span {
  color: #1493af;
  margin: 0 2px;
}
.searchBook {
  height: 140px;
  background-color: #fff;
  position: relative;
}
.searchBook .container .logo {
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
}
.searchBook .container form {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.searchBook .container form .input-group {
  position: relative;
}
.searchBook .container form #inputsearch {
  width: 400px;
  height: 50px;
  border: 5px solid #1493af;
}
.searchBook .container form .glyphicon-search {
  position: absolute;
  width: 80px;
  height: 50px;
  right: -75px;
  top: 0px;
  border: 0px;
  background-color: #1493af;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav .navLeft {
  background-color: #fff;
  margin: 10px 0px;
  width: 200px;
  height: 515px;
}
nav .navLeft ul li {
  cursor: pointer;
  padding: 0 8px;
}
nav .navLeft ul li h4 {
  margin-left: 10px;
  position: relative;
  font-size: 10px;
}
nav .navLeft ul li h4 i {
  position: absolute;
  right: 10px;
  top: 0;
}
nav .navLeft ul li span {
  font-size: 8px;
}
nav .navLeft ul li:hover {
  color: #1493af;
}
nav .navMid {
  flex: 1;
}
nav .navMid .ad {
  display: flex;
}
nav .navMid .ad div {
  width: 200px;
  height: 220px;
  margin-left: 11px;
  background-color: #fff;
  border-radius: 5px;
}
nav .navRight {
  margin: 10px 0px;
  width: 400px;
  height: 515px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
nav .navRight div {
  position: relative;
  background-color: #fff;
  width: 170px;
  height: 170px;
  margin: 0px 0px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
nav .navRight div i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
nav .navRight div:hover,
nav .navRight div i:hover {
  color: #1493af;
  transition: all 0.2s;
}
.body .container {
  margin-top: 12px;
  border-radius: 8px;
  display: flex;
}
.body .container .bookAside {
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 5px;
}
.body .container .bookAside .bookAsideTitle {
  height: 30px;
  line-height: 30px;
  border-bottom: 2px dashed #1493af;
  margin-bottom: 4px;
}
.body .container .bookAside .bookAsideTitle h4 {
  color: #1493af;
}
.body .container .bookAside ul li {
  margin: 2px 0;
}
.body .container .bookAside ul li span:nth-child(1) {
  color: #000;
}
.body .container .bookAside ul li span:nth-child(2) {
  color: #000;
  margin-left: 3px;
  font-size: 14px;
}
.body .container .bookAside ul li span:nth-child(3) {
  float: right;
  color: #b8b8b8;
  font-size: 14px;
}
.body .container .classifyBooks {
  flex: 1;
}
.body .container .classifyBooks .up {
  display: flex;
  justify-content: space-between;
}
.body .container .classifyBooks .up .commonBook {
  padding: 0 8px;
  width: 50%;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 5px;
}
.body .container .classifyBooks .up .commonBook .commonBookTitle {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px dashed #1493af;
}
.body .container .classifyBooks .up .commonBook .commonBookTitle h3 {
  color: #1493af;
}
.body .container .classifyBooks .up .newBook {
  padding: 0 8px;
  width: 50%;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 5px;
}
.body .container .classifyBooks .up .newBook .newBookTitle {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px dashed #1493af;
}
.body .container .classifyBooks .up .newBook .newBookTitle h3 {
  color: #1493af;
}
.body .container .classifyBooks .un {
  display: flex;
}
.body .container .classifyBooks .un .activeBook {
  padding: 0 8px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0 10px 10px;
  border-radius: 5px;
}
.body .container .classifyBooks .un .activeBook .bookBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.body .container .classifyBooks .un .activeBook .bookBox li {
  width: 50%;
}
.body .container .classifyBooks .un .activeBook .activeBookTitle {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px dashed #1493af;
}
.body .container .classifyBooks .un .activeBook .activeBookTitle h3 {
  color: #1493af;
}
.body .container .classifyBooks .bookBox li {
  position: relative;
  display: flex;
  padding: 20px 12px;
}
.body .container .classifyBooks .bookBox li .bookPrice {
  position: absolute;
  right: 20px;
  top: 90px;
  font-size: 18px;
  color: #1493af;
  padding: 0px 3px;
  border: 2px solid #1493af;
}
.body .container .classifyBooks .bookBox li .bookPrice span {
  font-size: 14px;
}
.body .container .classifyBooks .bookBox li .bookpic img {
  width: 90px;
  height: 120px;
}
.body .container .classifyBooks .bookBox li .text h3 {
  position: absolute;
  top: -5px;
  right: 215px;
}
.body .container .classifyBooks .bookBox li .text h3 a {
  color: #000;
  font-size: 20px;
}
.body .container .classifyBooks .bookBox li .text h3 a:hover {
  color: #1493af;
}
.body .container .classifyBooks .bookBox li .text p {
  position: absolute;
  top: 50px;
  right: 20px;
  left: 125px;
}
.body .container .classifyBooks .bookBox li .text div {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.body .container .classifyBooks .bookBox li .text div span:nth-child(1) {
  margin-right: 68px;
}
.body .container .classifyBooks .bookBox li .text div span:nth-child(1) a {
  color: #000;
}
.body .container .classifyBooks .bookBox li .text div span:nth-child(1) a:hover {
  color: #1493af;
}
.body .container .classifyBooks .bookBox li .text div span:nth-child(2) {
  margin-right: 40px;
}
.body .container .classifyBooks .bookBox li .text div span:nth-child(2) a {
  color: #6d6d6d;
}
.body .container .classifyBooks .bookBox li .text div span:nth-child(2) a:hover {
  color: #1493af;
}
.body .container .classifyBooks .bookBox li .text div span:nth-child(3) {
  color: #1493af;
}
.body .container .classifyBooks .bookBox li .text div span:nth-child(3) a {
  margin-left: 2px;
  color: #6d6d6d;
}
.body .container .classifyBooks .bookBox li .text div span:nth-child(3) a:hover {
  color: #1493af;
}
.body .container .classifyBooks .bookBox li .glyphicon-user {
  border: 1px solid #999;
  color: #999;
  border-radius: 50%;
  padding: 2px;
}
